<title>{{ title }}</title>
</head>
{{>header}}

<body class="container-fluid">
    <div class="container mt-5">
        <h1 class="mb-4">Carrito de Compras</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each cart.products}}
                <tr>
                    <td>{{this.productId.title}}</td>
                    <td>
                        <div class="input-group">
                            <button type="button" class="btn btn-light" onclick="decrement('{{this.productId._id}}')">
                                <i class="fas fa-minus"></i>
                            </button>
                            <input type="number" name="quantity" value="{{this.quantity}}" min="1"
                                id="quantityInput-{{this.productId._id}}" class="form-control text-center">
                            <button type="button" class="btn btn-light" onclick="increment('{{this.productId._id}}')">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </td>
                    <td>${{this.productId.price}}</td>
                    <td>
                        <form action="/cart/remove/{{this.productId._id}}" method="post" id="deleteForm" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger" onclick="deleteProduct('{{this.productId._id}}')">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>


        <div class="text-right">
            <h4>Total: ${{cart.totalPrice}}</h4>
        </div>
        <button class="btn btn-primary">Realizar Pago</button>
    </div>
    <script>
        function deleteProduct() {
            const confirmation = confirm('¿Estás seguro de que deseas eliminar este producto?');
            if (confirmation) {
                document.getElementById('deleteForm').submit();
            }
        }
        function increment(productId) {
            const input = document.getElementById(`quantityInput-${productId}`);
            input.value = parseInt(input.value) + 1;
            updateCart(productId, input.value);
        }

        function decrement(productId) {
            const input = document.getElementById(`quantityInput-${productId}`);
            if (parseInt(input.value) > 1) {
                input.value = parseInt(input.value) - 1;
                updateCart(productId, input.value);
            }
        }
    </script>