<title>{{ title }}</title>
</head>

<body class="container-fluid">
    {{>header}}
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3 detalleProducto">
            <div class="card">
                <img src="/img/{{ product.thumbnail }}" alt="Imagen del producto" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Title: {{ product.title }}</h4>
                    <p class="card-text">Disponibilidad: {{ product.stock }}</p>
                    <p class="card-text">Price: ${{ product.price }}</p>
                </div>              
                <a href="/api/products/edit/{{ product.id }}" class="btn btn-primary ">Editar Producto</a>
                <form action="/api/cart/add/:pId" method="post">
                    <input type="hidden" name="productId" value="{{ product.id }}">
                    <button type="submit" class="btn btn-primary ">Agregar al Carrito</button>
                </form>
            </div>

        </div>
    </div>
    </div>

    <script>
        function increment() {
            const input = document.getElementById('quantityInput');
            input.value = parseInt(input.value) + 1;
        }

        function decrement() {
            const input = document.getElementById('quantityInput');
            if (parseInt(input.value) > 1) {
                input.value = parseInt(input.value) - 1;
            }
        }
    </script>