<title>{{ title }}</title>
</head>

<body class="container-fluid">
    {{>header}}
    <div class="row">
        <div class="col-md-4 mb-3 detalleProducto">
            <div class="card">
                <img src="/img/{{ product.thumbnail }}" alt="Imagen del producto" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Title: {{ product.title }}</h4>
                    <p class="card-text">Disponibilidad: {{ product.stock }}</p>
                    <p class="card-text">Price: ${{ product.price }}</p>
                </div>
                <div class="d-flex justify-content-between ">
                    <a href="/products/edit/{{ product._id }}" class="btn btn-primary col-4">Editar Producto</a>
                    <form action="/cart/add/{{ product._id }}" method="post" class="row">
                        <div class="input-group col-5 mx-3">
                            <button class="btn btn-outline-secondary" type="button" onclick="decrement()">-</button>                          
                            <input id="quantity" type="number" class="form-control text-center" value="1" name="quantity">                            
                            <button class="btn btn-outline-secondary" type="button" onclick="increment()">+</button>
                        </div>
                        <button type="submit" class="btn btn-primary col-5">Agregar al Carrito</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function increment() {
            const input = document.getElementById('quantity');
            input.value = parseInt(input.value) + 1;
        }

        function decrement() {
            const input = document.getElementById('quantity');
            if (parseInt(input.value) > 1) {
                input.value = parseInt(input.value) - 1;
            }
        }

    </script>