<title>{{ title }}</title>
</head>

<body class="">
  {{>header}}
  <div class="container">
    <h2>Editar Producto</h2>
    <form id="productForm" action="/api/products/edited/{{product._id}}" method="POST" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="_method" value="PUT">


      <div class="row">
        <div class="form-group col-lg-6">
          <label for="title">Título:</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el título"
            value="{{ product.title }}" >
        </div>
          <div class="form-group col-lg-6">
        <label for="category">category:</label>
        <input type="text" class="form-control" name="category" placeholder="Ingrese el category" required value="{{ product.category }}">
      </div>


        <div class="form-group col-lg-6">
          <label for="price">Precio:</label>
          <input type="number" class="form-control" id="price" name="price" placeholder="Ingrese el precio"
            value="{{ product.price }}" >
        </div>

        <div class="form-group col-lg-4">
          <label for="thumbnail">Imagen:</label>
          <input type="file" class="form-control" id="thumbnail" name="thumbnail"
            placeholder="Ingrese la URL de la imagen"  value="{{ product.thumbnail }}">
        </div>

        <div class="form-group col-lg-4">
          <label for="code">Código:</label>
          <input type="text" class="form-control" id="code" name="code" placeholder="Ingrese el código"
            value="{{ product.code }}" >
        </div>

        <div class="form-group col-lg-4">
          <label for="stock">Stock:</label>
          <input type="number" class="form-control" id="stock" name="stock" placeholder="Ingrese el stock"
            value="{{ product.stock }}" >
        </div>

        <div class="form-group col-lg-6">
          <label for="description">Descripción:</label>
          <textarea class="form-control" id="description" name="description" placeholder="Ingrese la descripción"
            required>{{ product.description }}</textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary col-lg-3">Actualizar Producto</button>
    </form>

    <form action="/api/products/delete/{{ product._id }}" method="POST" id="deleteForm">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" onclick="deleteProduct('{{ product._id }}')" class="btn btn-danger">Eliminar
        Producto</button>
    </form>
 
  </div>
</body>
<script>
  function deleteProduct() {
    const confirmation = confirm('¿Estás seguro de que deseas eliminar este producto?');
    if (confirmation) {
      document.getElementById('deleteForm').submit();
    }
  }
  document.getElementById('productForm').addEventListener('submit', function(event)){
    event.preventDefault();
    
    let formData = new FormData(document.querySelector('#productForm'));
    const formData = new FormData(this)
    const productId = "{{product._id}}"
    fetch(`/api/products/${productId}`,{
      method:'PUT',
      body: formData
      })
      .then(response=>{
        if(response.ok){
          window.location.href = `/api/products/detail/${productId}`
          }else{
          throw new error ("Error al actualizar")
        }
      })
      .catch((error)=>{
      console.log("Error:", error)
      })
    }
    
  


</script>