<title>{{ title }}</title>
</head>
<body >
    <div class="container-flui">
    {{>header}}
       </div>
    <div class="container">
        

    <h2 class="text-center mb-4">Product Filters</h2>

    <form action="/api/products" method="GET">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="query">Search</label>
          <input type="text" class="form-control" id="query" name="query" placeholder="Enter search query">
        </div>
        <div class="form-group col-md-3">
          <label for="category">Category</label>
          <select id="category" class="form-control" name="categoria">
            {{#each categoria}}
            <option value="">All Categories</option>
            <option value="">{{ categoria }}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="stock">Stock</label>
          <select id="stock" class="form-control" name="stock">
            <option value="">All Stock</option>
            <option value="stock">In Stock</option>
            <option value="out_of_stock">Out of Stock</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="sort">Sort By</label>
          <select id="sort" class="form-control" name="sort">
            <option value="" selected>Default</option>
            <option value="price_asc">Low to High</option>
            <option value="price_desc">High to Low</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Apply Filters</button>
    </form>


     <div class="row">
         <p class=" col-3">pages:{{ pagination.totalPages }}</p>
        {{#if pagination.hasPrevPage}}
            <a href="{{ pagination.prevLink }}" class="btn col-3 btn-primary mx-3">Previous</a>
        {{/if}}
        
        {{#if pagination.hasNextPage}}
            <a href="{{ pagination.nextLink }}" class="btn col-3 btn-primary mx-3">Next</a>
        {{/if}}
    </div>
    <div class="row">
        <h3 class="col-12 text-center">Tienda</h3>
        {{#each products}}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/img/{{this.thumbnail}}" alt="Imagen del producto" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{ title }}</h4>
                        <p class="card-text">Description: {{ this.description }}</p>
                        <p class="card-text">Stock: {{ this.stock }}</p>
                        <p class="card-text">Price: ${{ this.price }}</p>
                        <p class="card-text">Category: {{ this.categoria }}</p>
                    </div>
                    <a class="nav-link btn btn-primary" href="/api/products/detail/{{ this._id }}">detalle</a>
                </div>
            </div>
        {{/each}}
    </div>
    
        </div>
        
     