<title>{{ title }}</title>
</head>
<body class="container-fluid">
    {{>header}}
    <div class="row">
        <h3 class="col-12">Tienda</h3>
        {{#each products}}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/img/{{this.thumbnail}}" alt="Imagen del producto" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{ this.title }}</h4>
                        <p class="card-text">Disponibilidad: {{ this.stock }}</p>
                        <p class="card-text">Price: ${{ this.price }}</p>
                    </div>
                    <a class="nav-link btn btn-primary" href="/products/detail/{{ this._id }}">detalle</a>
                </div>
            </div>
        {{/each}}
    </div>
     