<title>{{ title }}</title>
</head>
<body class="container-fluid">
    {{>header}}
    <div class="row">
        <h3 class="col-12">Tienda</h3>
        {{#each productsFind}}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/img/{{ thumbnail }}" alt="Imagen del producto" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Title: {{ title }}</h4>
                        <p class="card-text">Disponibilidad: {{ stock }}</p>
                        <p class="card-text">Price: ${{ price }}</p>
                    </div>
                    <a class="nav-link btn btn-primary" href="/api/products/{{ id }}">detalle</a>
                </div>
            </div>
        {{/each}}
    </div>
    