<header id="encabezado" class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="/">
        <img src="/img/logoCraff.png" alt="Logo de Craff Multimedia" id="logo" style="max-height: 50px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/products">Tienda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/products/create">Nuevo Producto <i class="fas fa-plus"></i></a>
            </li>
        </ul>
      
        <h3>Hola {{user.first_name}}</h3>
         
        <ul class="navbar-nav">
            {{#if user}}
            <li class="nav-item d-flex">
                <a class="nav-link" href="/api/cart/getCart/{{cart._id }}" id="total-quantity"><i
                        class="fas fa-shopping-bag mx-1"></i></a>{{totalQuantity}}
            </li>
            {{else}}
             <li class="nav-item d-flex">
                <a class="nav-link" href="/api/user/login" id="total-quantity"><i
                        class="fas fa-shopping-bag mx-1"></i></a>{{totalQuantity}}
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/chat"><i class="fas fa-comment mx-1"></i>Chat</a>
            </li>
            {{#if user}}
            <li class="nav-item">
                <a class="nav-link" href="/api/user/dashboard"><i class="fas fa-user mx-1"></i>Mi cuenta</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/api/user/login"><i class="fas fa-sign-in-alt mx-1"></i>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/user/register"><i class="fas fa-user-plus mx-1"></i>Register</a>
            </li>
            {{/if}}
        </ul>
    </div>
</header>